@import "../scss/global";

.App {

  &__toolbar {
    background-color: $green;
    color: white;
  }

  &__container {
    display: flex;
    margin-top: 20px;
  }

}


.ng-container {
  width: 100%;
}
