@import "src/scss/global";


html, body { height: 100%; }
body {
  background-image: url("src/assets/images/background.png");
  background-repeat: round;
  background-size: inherit;

  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
