
// Colors:
$green: #163e18;
$text-primary:         #000000;
$text-secondary:       #e4e8eb;
$background-main:      #e4e8eb;
$background-secondary: #313030;
$main:                 #504658;
$white:                #ffffff;
$second:               #f0decb;

$divider:       rgba(0,0,0,.12);

$success:       #00b159;
$alert:         #ffc425;
$danger:        #d11141;
